<app-header></app-header>
<main class="main-container">
  <billboard-section></billboard-section>
  <services-section></services-section>
  <best-selling-section></best-selling-section>
  <limmited-offer-section></limmited-offer-section>
  <list-item-section></list-item-section>
  <categories-section></categories-section>
  <customer-review-section></customer-review-section>
  <latest-post-section></latest-post-section>
  <instagram-section></instagram-section>
</main>
<app-footer></app-footer>
